*{
    color: aliceblue;
    background-color: black;
    border: 2px solid red;
}
.nav-item a{
    color: white;
}
.nav-item a:hover{
    color: white;
    text-decoration:underline red;
}
.heading{
    padding: 4px 10px;
  
}
h1{
    font-size: 100px;
    font-family: jokerman;
}
